# Mapping from case sensitive names to case insensitive names

RewriteEngine On

# Namespace objects with same name as constructors.
# Namespace objects renamed (ex: dijit/tree --> dijit/tree_ns)
RewriteRule ^(1.[3-7]/dijit/tree).html$ $1_ns.html [L,QSA]
RewriteRule ^(1.[3-7]/dojox/form/)(manager|uploader).html$ $1$2_ns.html [L,QSA]
RewriteRule ^(1.[3-7]/dojox/form/uploader)/(.*)$ $1_ns/$2 [L,QSA]
RewriteRule ^(1.[3-7]/dojox/gfx/)(shape|path).html$ $1$2_ns.html [L,QSA]
RewriteRule ^(1.[3-7]/dojox/gfx/)(shape|path)/(.*)$ $1$2_ns/$3 [L,QSA]
RewriteRule ^(1.[3-7]/dojox/grid).html$ $1_ns.html [L,QSA]
RewriteRule ^(1.[3-7]/dojox/grid/selection).html$ $1_ns.html [L,QSA]
RewriteRule ^(1.[3-7]/dojox/grid/enhanced/plugins/)(exporter|filter|pagination).html$ $1$2_ns.html [L,QSA]
RewriteRule ^(1.[3-7]/dojox/widget/rotator).html$ $1_ns.html [L,QSA]

# Sprintf has uppercase and lowercase specifiers for the same letter.
# Uppercase specifier doc renamed (ex: E --> E_uc)
RewriteRule ^(1.[3-7]/dojox/string/sprintf/Formatter/_specifiers/[EFGX]).html$ $1_uc.html [L,QSA]


